{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>steps</title>
</head>
<body>
<h1>About...</h1>
<div class="container">
    <img src="{%  static 'images/destination_5.jpg' %}" alt="blue sea">
</div>
<div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Commodi culpa cumque deleniti doloremque dolores eius enim expedita id in itaque iusto, maiores maxime molestiae neque nesciunt possimus, praesentium provident quam rem repellat, reprehenderit saepe sunt tempore tenetur unde voluptatibus voluptatum? Culpa dolorum eum ex fuga maiores modi nihil, odio voluptatem? Aperiam cum cumque earum eum harum maiores natus praesentium qui sequi tenetur? Ab ad alias assumenda deleniti est laborum modi necessitatibus praesentium. Ad, animi blanditiis cum, doloremque esse excepturi expedita explicabo minima modi molestiae nam quasi, quia quidem reprehenderit vero? Distinctio ex in itaque
    laudantium quidem rerum tenetur! Accusantium alias architecto beatae, consectetur cum delectus dignissimos ducimus earum ex in ipsam
    maxime molestias nihil officiis pariatur perferendis praesentium provident quasi, ratione repellendus similique ut voluptate. Ad adipisci alias aliquid animi distinctio dolores eaque eos exercitationem facere harum hic, inventore ipsa iure minus necessitatibus neque nisi nostrum porro possimus praesentium provident quasi quidem quos reiciendis repellat repudiandae sed sequi sit tempore voluptatum! Explicabo laborum magnam natus odit, possimus qui quis totam voluptatibus! Aliquam atque beatae blanditiis commodi, debitis delectus deserunt dicta dolore doloremque earum eius error est exercitationem explicabo harum magni natus
    nisi nulla numquam officiis quaerat rem reprehenderit suscipit vitae.
</div>
</body>
</html>