{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <style>
        body {
        background-image:url({% static "images/login_page.jpg" %});
        background-size:100%;
        }
        .card {
        text-align:center;
        margin-top:200px;
        }
        #username, #pw {
        width:20%;
        }
    </style>
</head>
<body>
<div class="card">
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="Enter username"><br>
        <input type="password" name="password" id="pw" placeholder="Enter password"><br>
        <input type="submit"> <input type="reset">
    </form>
    {% for msg in messages %}
    <h3>{{msg}}</h3>
    {% endfor %}
</div>
</body>
</html>